* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "open sans";
  }

/* boton flotante wwp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}
/* fin boton wwp */

  .contenedor {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 11px;
  }

  .titulo {
    color: #bca24e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
  }

  /* Header */

  header {
    width: 100%;
    height: 600px;
    background: #bca24e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        hsla(32, 100%, 73%, 0.137),
        hsla(44, 45%, 52%, 0.521)
      ),
      url(../images/mueble3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        hsla(32, 100%, 73%, 0.137),
        hsla(44, 45%, 52%, 0.521)
      ),
      url(../images/mueble3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  nav {
    text-align: right;
    padding: 30px 50px 0 0;
  }

  nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
  }

  nav > a:hover {
    text-decoration: underline;
  }

  header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .textos-header h1 {
    font-size: 50px;
    color: #fff;
  }

  .textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
  }

  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  /* Nuestros productos */
.content-nuestros-productos{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-nuestros-productos h2{
  width: 100%;
}

.card-categoria{
  width: 33%;
}

.estilo-a{
  font-family: inherit;
}

.estilo-a a{
  text-decoration: none;
}

.estilo-a h3{
  text-align: center;
  color: #bca24e;
}

.estilo-a a:hover{
  text-decoration: underline;
}

.estilo-a .img-container{
  overflow: hidden;
  height: 400px;
  position: relative;
  border-radius: 15px;
}

.estilo-a .img-container img{
  width: 100%;
  position: absolute;
  top:-5%;
  transition: all 0.5s;
}

.estilo-a a:hover .img-container img{
  transform: scale(1.2)
}
/* Fin Nuestros productos */


  /* Galeria - Fondo del feed IG*/

  .portafolio {
    background: #f2f2f2;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
  }

  .galeria_port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
  }

  .dimensiones_ig{
    padding: 5px;
    width: 50%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }

  .imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  }

  .imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .hover_ig {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(44, 45%, 52%, 0.521);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hover_galeria img {
    width: 50px;
  }

  .hover-galeria p {
    color: #fff;
  }

  .imagen-port:hover .hover_ig {
    transform: scale(1);
  }

  /* Clients */

  .cards {
    display: flex;
    justify-content: space-evenly;
  }

  .cards .card {
    background: #bca24e;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  }

  .cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
  }

  .cards .card > .contenido-texto-card {
    width: 60%;
    color: #fff;
  }

  .cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
  }

  /*  Our team */

  .about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
  }

  .servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .servicio-ind {
    width: 28%;
    text-align: center;
  }

  .servicio-ind img {
    width: 90%;
  }

  .servicio-ind h3 {
    margin: 10px 0;
  }

  .servicio-ind p {
    font-weight: 300;
    text-align: justify;
  }

  /* footer */

  footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
  }

  .contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
  }

  .content-foo {
    text-align: center;
  }

  .content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #bca24e;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .content-foo p {
    color: #ccc;
  }

  .titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
  }

  @media screen and (max-width: 900px) {
    header {
      background-position: center;
    }

    .contenedor-sobre-nosotros {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .sobre-nosotros .contenido-textos {
      width: 90%;
    }

    .imagen-about-us {
      width: 90%;
    }

    /* Galeria */

    .imagen-port {
      width: 44%;
    }

    /* Clientes */

    .cards {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cards .card {
      width: 90%;
    }

    .cards .card:first-child {
      margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont {
      justify-content: center;
      flex-direction: column;
    }

    .servicio-ind {
      width: 100%;
      text-align: center;
    }

    .servicio-ind:nth-child(1),
    .servicio-ind:nth-child(2) {
      margin-bottom: 60px;
    }

    .servicio-ind img {
      width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    nav {
      text-align: center;
      padding: 30px 0 0 0;
    }

    nav > a {
      margin-right: 5px;
    }

    .textos-header h1 {
      font-size: 35px;
    }

    .textos-header h2 {
      font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us {
      margin-bottom: 60px;
      width: 99%;
    }

    .sobre-nosotros .contenido-textos {
      width: 95%;
    }

    /* Galeria */

    .imagen-port {
      width: 95%;
    }

    /* Clients */

    .cards .card {
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cards .card img {
      width: 90px;
      height: 90px;
    }

    /* Footer */

    .contenedor-footer {
      flex-direction: column;
      border: none;
    }

    .content-foo {
      margin-bottom: 20px;
      text-align: center;
    }

    .content-foo h4 {
      border: none;
    }

    .content-foo p {
      color: #ccc;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px;
    }

    .titulo-final {
      font-size: 20px;
    }
  }
