{% extends 'base.html' %}

{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block sobra%}
    <div class="wave" style="height: 150px; overflow: hidden">
        <svg
        viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
        <path
            d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff"
        ></path>
        </svg>
    </div>
{% endblock %}

{% block content %}
<section class="textos-header">
    <h1>Rattan&Rattan</h1>
    <h2>
        Fabricación y restauración de muebles en Rattan natural y sintético.
        Muebles 100% tejidos a mano.
    </h2>
</section>
{% endblock %}

{% block contenedor %}
<section class="content-nuestros-productos">
    <h2 class="titulo">Nuestros Productos</h2>
    <div class="card estilo-c">
        <a href="#">
            <div class="img-container">
                <img src="static/images/silla.jpg" alt="" class="imagen-prodcutos" />
            </div>
        </a>
            <div class="info-container">
                <h3>SILLAS</h3>
            </div>
        
    </div>
    <div class="card estilo-c">
        <a href="#">
            <div class="img-container">
                <img src="static/images/Sofas.jpg" alt="" class="imagen-prodcutos" />
            </div>
            <div class="info-container">
                <h3>SOFAS</h3>
            </div>
        </a>
    </div>
    <div class="card estilo-c">
        <a href="#">
            <div class="img-container">
                <img src="static/images/mesa.jpg" alt="" class="imagen-prodcutos" />
            </div>
            <div class="info-container">
                <h3>MESAS</h3>
            </div>
        </a>
    </div>
    <div class="card estilo-c">
        <a href="#">
            <div class="img-container">
                <img src="static/images/comedor.jpg" alt="" class="imagen-prodcutos" />
            </div>
            <div class="info-container">
                <h3>COMEDOR</h3>
            </div>
        </a>
    </div>
</section>
{% endblock %}

<!-- Feed de instagram -->
{% block portafolio%}
<h2 class="titulo">Instagram</h2>
<div class="portafolio">
    <div class="contenedor"></div>
    <div class="galeria_port" id="galeria_port"></div>
    <div class="hover_ig"></div>
    <div class="imagen-port"></div>
<script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
{% endblock %}

{% block footer%}
    <footer>
    <div class="contenedor-footer">
        <div class="content-foo">
        <h4>Phone</h4>
        <p>8296312</p>
        </div>
        <div class="content-foo">
        <h4>Email</h4>
        <p>8296312</p>
        </div>
        <div class="content-foo">
        <h4>Location</h4>
        <p>8296312</p>
        </div>
    </div>
    <h2 class="titulo-final">
        Todos los derechos reservados | &copy; <b>Rattan&Rattan</b> | Desarrollado por ITSafe
    </h2>
    </footer>
{% endblock %}


