<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Página web AI</title>
    <link rel="shortcut icon" href="img/proteger.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/estilos.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav>
        <a href="#">Inicio</a>
        <a href="#">Acerca de</a>
        <a href="#">Portafolio</a>
        <a href="#">Servicios</a>
        <a href="#">Contacto</a>
      </nav>
      <section class="textos-header">
        <h1>Pasion por la Seguridad</h1>
        <h2>
          Proteja la información corporativa de forma sencilla y escalable,
          reduzca los costos de TI y optimice la consecución de resultados.
        </h2>
      </section>
      <div class="wave" style="height: 150px; overflow: hidden">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
            style="stroke: none; fill: #fff"
          ></path>
        </svg>
      </div>
    </header>
    <main>
      <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Nuestro Servicios</h2>
        <div class="contenedor-sobre-nosotros">
          <img src="img/ilustracion2.svg" alt="" class="imagen-about-us" />
          <div class="contenido-textos">
            <h3><span>1</span>Consultoria</h3>
            <p>
              Contamos con un equipo de consultores con amplios conocimientos y
              experiencia en el desarrollo de proyectos de seguridad de la
              información que le permiten iniciar o fortalecer programas
              corporativos, desarrollar estrategias para implementar tecnologías
              de forma eficiente y cumplir integralmente con normas y
              regulaciones.
            </p>
            <h3><span>2</span>Ciberseguridad</h3>
            <p>
              Delegar las defensas en el perímetro y en elementos de seguridad
              basados en reglas está siendo menos efectivo, más aún cuando el
              nivel de integración de arquitecturas y datos se ha incrementado
              de forma significativa.
            </p>
          </div>
        </div>
      </section>
      <section class="portafolio">
        <div class="contenedor">
          <h2 class="titulo">Portafolio</h2>
          <div class="galeria-port">
            <div class="imagen-port">
              <img src="img/img1.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img2.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img3.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img1.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img4.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img5.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img6.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
            <div class="imagen-port">
              <img src="img/img7.jpg" alt="" />
              <div class="hover-galeria">
                <img src="img/icono1.png" alt="" />
                <p>Nuestro trabajo</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="clientes contenedor">
        <h2 class="titulo">Quienes Somos</h2>
        <div class="cards">
          <div class="card">
            <img src="img/sebastian1.jpeg" alt="" />
            <div class="contenido-texto-card">
              <h4>Sebastian Montoya</h4>
              <p>
                Ingeniero de Sistemas con amplios conocimientos en Arquitectura
                e Insfractutura de redes
              </p>
            </div>
          </div>
          <div class="card">
            <img src="img/victor1.jpeg" alt="" />
            <div class="contenido-texto-card">
              <h4>Victor Martinez</h4>
              <p>
                Ingeniero de Sistemas con amplios conocimientos en desarrollo
                Web y Movil
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="about-services">
        <div class="contenedor">
          <h2 class="titulo">Nuestros Productos</h2>
          <div class="servicio-cont">
            <div class="servicio-ind">
              <img src="img/ilustracion1.svg" alt="" />
              <h3>Name</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
                qui?
              </p>
            </div>
            <div class="servicio-ind">
              <img src="img/ilustracion4.svg" alt="" />
              <h3>Name</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
                qui?
              </p>
            </div>
            <div class="servicio-ind">
              <img src="img/ilustracion3.svg" alt="" />
              <h3>Name</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
                qui?
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="contenedor-footer">
        <div class="content-foo">
          <h4>Phone</h4>
          <p>8296312</p>
        </div>
        <div class="content-foo">
          <h4>Email</h4>
          <p>8296312</p>
        </div>
        <div class="content-foo">
          <h4>Location</h4>
          <p>8296312</p>
        </div>
      </div>
      <h2 class="titulo-final">
        &copy; Victory Design | Sebastian Montoya | Victor Martinez
      </h2>
    </footer>
  </body>
</html>
